*{
    transition: all 1s !important;
}
.main{
    width: 100vw;
    min-height: 100vh;
}

.page{
    height: 90vh;
}

.card {
    height: 220px !important;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-body a{
    width: 60%;
    align-self: flex-end;
}

.alumno__botones button{
   width: 100%;
   margin-bottom: 5px;
   
}

form{
    height: 90vh;
}

.text-field{
    background: transparent;
    border:none;
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 1%;
    padding-left: 3%;
    outline: none;
    color:white
    
}
::placeholder{
    color:gray;
}